@import "tailwindcss";

@theme {
  --color-brand: #4f46e5; /* This creates the 'bg-brand' class */
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}
